<div id="overview" class="col-md-12">
    <header class="widget-header">
        Server Overview
        <i class="fa fa-plus float-right cursor-pointer"></i>
    </header>
    <main class="widget-main">
        {% if servers is not empty %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>State</th>
                        <th>Players</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td>{{ server.name }}</td>
                            <td>
                                {% if server.isRunning %}
                                    Running
                                {% else %}
                                    Stopped
                                {% endif %}
                            </td>
                            <td>
                                {% if server.players is not empty %}
                                    {{ server.players | length }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no servers.</p>
        {% endif %}

    </main>
</div>