<div class="col-md-12">
    <header class="widget-header">
        Settings
        <i class="fa fa-cogs float-right"></i>
    </header>
    <main class="widget-main">Not implemented yet :(</main>
</div>