body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F8F8F8;
    color: #474747;
}

.widget {
    margin: 30px 0;
}

.widget header, .widget main {
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

.widget-header {
    height: 30px;
    line-height: 30px;
    background-color: #E7E7E7;
    font-weight: bold;
    padding: 0 15px;
}

.widget-header i {
    line-height: 30px;
    font-size: large;
}

.widget-main {
    height: 300px;
    border-top: 0px !important;
    padding: 10px;
}

.table-hover tbody tr:hover > td {
    background-color: #E7E7E7;
    cursor: pointer;
}

.float-right {
    float: right;
}

.cursor-pointer:hover {
    cursor: pointer;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    z-index: 10000;
}

/* center alerts */
.alert {
    position: absolute;
    width: 50%;
    margin: 0 0 0 -25%;
    top: 20%;
    left: 50%;
    z-index: 10000;
}

.alert p {
    font-size: large;
    font-weight: bold;
}